In [3]:
import pandas as pd
from pathlib import Path

In [8]:
house_mortgage = Path("Resources/US House Price and Mortgage Rate.csv")
house_rates_pd = pd.read_csv(house_mortgage)
house_rates_pd.head()

,Month,FHFA House Price Index,Consumer Price Index,Mortgage Rate (30-Year Fixed)
0,1/1/12,178.34,226.665,3.92
1,2/1/12,178.74,227.663,3.89
2,3/1/12,180.33,229.392,3.95
3,4/1/12,181.24,230.085,3.91
4,5/1/12,182.33,229.815,3.80

In [17]:
annual_factors = Path("Resources/Annual_Macroeconomic_Factors.csv")
annual_factors_pd = pd.read_csv(annual_factors)
annual_factors_pd = annual_factors_pd.set_index("Date")
annual_factors_pd.head()

,House_Price_Index,Stock_Price_Index,Consumer_Price_Index,Population,Unemployment_Rate,Real_GDP,Mortgage_Rate,Real_Disposable_Income
Date,,,,,,,,
1975-01-01,61.0900,67.14653,65.30488,0.98599,8.46667,5648.462,9.04712,19908.0
1976-01-01,65.5250,79.96264,69.05653,0.95022,7.71667,5952.809,8.86585,20346.0
1977-01-01,73.4350,78.82540,73.54636,1.00577,7.06667,6228.076,8.84519,20780.0
1978-01-01,83.7450,78.84679,79.15866,1.05957,6.06667,6572.819,9.64173,21497.0
1979-01-01,95.1325,85.63207,88.06755,1.10358,5.83333,6780.924,11.20365,21672.0

In [18]:
monthly_factors = Path("Resources/Monthly_Macroeconomic_Factors.csv")
monthly_factors_pd = pd.read_csv(monthly_factors)
monthly_factors_pd = monthly_factors_pd.set_index("Date")
monthly_factors_pd.head()

,House_Price_Index,Stock_Price_Index,Consumer_Price_Index,Population,Unemployment_Rate,Real_GDP,Mortgage_Rate,Real_Disposable_Income
Date,,,,,,,,
1987-01-01,63.735,14.97068,46.91647,153968000.0,6.6,2.41735,9.2040,6159.5
1987-02-01,64.134,15.86818,47.08523,154123000.0,6.6,4.57724,9.0825,6192.1
1987-03-01,64.470,16.48206,47.29619,154229000.0,6.6,3.87276,9.0350,6200.0
1987-04-01,64.974,16.22884,47.54933,154362000.0,6.3,4.83973,9.8325,5967.2
1987-05-01,65.549,16.14232,47.71810,154490000.0,6.3,4.51565,10.5960,6209.1

In [19]:
housing_factors = Path("Resources/Housing_Macroeconomic_Factors_US (2).csv")
housing_factors_pd = pd.read_csv(housing_factors)
housing_factors_pd = housing_factors_pd.set_index("Date")
housing_factors_pd.head()

,house_price_index,population,house_supply,gdp,mortgage_rate,employment_rate,permit_new,ppi_res,m3,cci,delinquency_rate,hcai
Date,,,,,,,,,,,,
1987-01-01,63.965,241857,6.0,99.902813,9.2040,70.163085,1690.0,100.0,2.7439,100.4624,NaN,NaN
1987-02-01,64.424,242005,6.2,99.875864,9.0825,70.289205,1689.0,100.4,2.7475,100.4945,NaN,NaN
1987-03-01,64.735,242166,6.0,99.869734,9.0350,70.321678,1704.0,100.7,2.7537,100.5720,NaN,NaN
1987-04-01,65.132,242338,6.0,99.882087,9.8325,70.499062,1601.0,101.1,2.7677,100.6568,NaN,NaN
1987-05-01,65.565,242516,6.7,99.910371,10.5960,70.808308,1500.0,101.3,2.7729,100.6919,NaN,NaN